<div style="background-color: #f5f6f7; padding-top:1rem; padding-bottom:1rem;"></div>
<div style="background-color: #fff; width: 600px; padding: 20px;margin-left:auto; margin-right:auto">
    <div style="border-bottom: 1px solid #eee; display:block; margin-bottom:30px; text-align:center">
        <img src={{ image }} style="width: 100px; margin-top: 15px; margin-bottom: 10px;"></img>
    </div>
    <h3>Dear <span style="font-weight: bold;">{{ name }}</span>,</h3>

    {{#if isFinishedAllTask }}
    <p>You've completed all the task today.</p>
    <p style="line-height: 1.5;">Let's check our achievements today:</p>
    <ol>
        {{#each completedTask}}
        <li style="line-height: 1.5;color: green">{{this.task}}
        </li>
        {{/each}}
    </ol>
    <p style="line-height: 1.5;"> A habit cannot be tossed out the window; it must be coaxed down the stairs a step at a
        time. - Mark Twain </p>
    {{else}}
    <p>I want to inform you that you have some remaining tasks that need to be done today. </p>
    <p style="line-height: 1.5;">Please quickly check the incomplete tasks below and mark them as completed if you have
        already finished them:</p>
    <ol>
        {{#each incompletedTask}}
        <li style="line-height: 1.5;color: red">{{this.task}}
        </li>
        {{/each}}
    </ol>
    {{#if haveTaskCompleted}}
    <p style="line-height: 1.5;">Below are the tasks that you have completed:</p>
    <ol>
        {{#each completedTask}}
        <li style="line-height: 1.5;color: green">{{this.task}}
        </li>
        {{/each}}
    </ol>
    <p style="line-height: 1.5;"> Hopefully, you have time to check and finish all your tasks before the new day starts.
    </p>
    <p style="line-height: 1.5;">Feeling sorry for yourself, and your present condition is not only a waste of energy
        but the worst habit you
        could possibly have. - Dale Carnegie</p>
    {{/if}}
    {{/if}}
    <p>Thank you and best regards,</p>
    <p>Daily Management Team</p>
</div>
</div>